<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <title>Secret</title>
        <link rel="stylesheet" href="{% static 'main/css/modal.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
        <link rel="stylesheet" href="{% static 'secret/css/main.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <a href="#about" title="About">
            <svg class="icon right">
                <path d="M16 14 L16 23 M16 8 L16 10" />
                <circle cx="16" cy="16" r="14" />
            </svg>
        </a>

        {% block body_block %}
        {% endblock %}

        <div id="about" class="modalDialog">
            <div>
                <a href="#" title="Close" class="close">
                    <svg class="icon right">
                        <path d="M2 30 L30 2 M30 30 L2 2" />
                    </svg>
                </a>
                <h2>About</h2>
                <p>Ever needed to share a password without leaving a record? This is where the idea for secret was born.</p>
                <p>Simply type your secret to be shared and then share the one time use link with anyone.</p>
                <p>All secrets are deleted from the database when the secret is accessed, and last a maximum of 72 hours if the link isn't opened.</p>
            </div>
        </div>
    </body>
</html>