form input[type=text], :focus {
    text-align: center;
    width: 100%;
	border: none;
	outline: none;
	font-size: 48px;
	font-weight: bold;
	padding: 16px;
}

body {
    text-transform: none;
}

.centered {
    width: 100%;
}