form input[type=text], :focus {
	border: none;
	outline: none;
    resize:none;
    overflow:hidden;
    height:1.1em;
    background-color: #fdfdfd;
}

.input_text {
    text-align: center;
    width: 90%;
	font-size: 48px;
	font-weight: bold;
    font-family: inherit;
}

body {
    text-transform: none;
}

.centered {
    width: 100%;
}