{% load staticfiles %}
<html>
    <head>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', '{{ GA_TRACKING_ID }}');
            ga('send', 'pageview', '404');
        </script>
        <title>404</title>
        <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
    </head>
    <body>
        <div class="centered">
            <h1>smileyjoe.io</h1>
            <div class="nav">
                <span><a href="/">Nothing to see here</a></span>
            </div>
        </div>
    </body>
</html>