{% load staticfiles %}
<html>
    <head>
        <title>SmileyJoe</title>
        <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
    </head>
    <body>
        <div class="centered">
            <h1>smileyjoe.io</h1>
            <div class="nav">
                <span><a href="http://blog.smileyjoe.io/about">About</a></span>
                <span><a href="http://git.smileyjoe.io">Git</a></span>
                <span><a href="http://maven.smileyjoe.io">Maven</a></span>
                <span><a href="http://blog.smileyjoe.io">Blog</a></span>
            </div>
        </div>
    </body>
</html>